@import '../../styles/variables';

.movie-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-header {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;

    > button {
      margin-right: auto;
    }

    > h1 {
      margin-right: auto;
    }
  }

  &-content {
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
    }

  }

  &-description {
    width: auto;
    padding: 20px;
  }

  &-info {
    display: grid;
    grid-template-columns: max-content auto;

    > dt {
      grid-column-start: 1;
    }

    > dd {
      grid-column-start: 2;
      margin-left: 10px;
    }
  }
}